<br /><br />
<nav
  class="navbar navbar-expand-lg navbar-light glass-nav fixed-top"
  data-aos="fade-down"
>
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand font-weight-bold text-dark" routerLink=""
      >Majestic Glow</a
    >
    <!-- Toggler for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLink=""
            (click)="closeMobileNavbar()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#" (click)="closeMobileNavbar()"
            >Women</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#" (click)="closeMobileNavbar()"
            >Men</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#" (click)="closeMobileNavbar()"
            >Shoes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#" (click)="closeMobileNavbar()"
            >Accessories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-danger font-weight-bold"
            href="#"
            (click)="closeMobileNavbar()"
            >Sale</a
          >
        </li>
      </ul>

      <!-- Search -->
      <form class="form-inline my-2 my-lg-0 mx-3 search-box">
        <input
          class="form-control rounded-pill pl-4 pr-4"
          type="search"
          placeholder="Search products..."
        />
      </form>

      <!-- Icons -->
      <div class="d-flex align-items-center">
        <a href="#" class="nav-icon mx-2" (click)="closeMobileNavbar()"
          ><i class="far fa-heart"></i
        ></a>

        <a
          routerLink="/cart"
          class="nav-icon mx-2 position-relative"
          (click)="closeMobileNavbar()"
        >
          <i class="fas fa-shopping-bag fa-lg"></i>
          <span
            class="badge badge-danger position-absolute cart-badge"
            *ngIf="cartItemCount > 0"
          >
            {{ cartItemCount }}
          </span>
        </a>

        <!-- User icon with dropdown -->
        <div class="btn-group ml-2">
          <a
            href="#"
            class="nav-icon"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            (click)="closeMobileNavbar()"
          >
            <i class="far fa-user fa-lg"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <ng-container *ngIf="!currentUser">
              <a
                class="dropdown-item"
                type="button"
                routerLink="signin"
                (click)="closeMobileNavbar()"
                >Sign In</a
              >
              <a
                class="dropdown-item"
                type="button"
                routerLink="signup"
                (click)="closeMobileNavbar()"
                >Sign Up</a
              >
            </ng-container>
            <ng-container *ngIf="currentUser">
              <a
                class="dropdown-item"
                type="button"
                routerLink="profile"
                (click)="closeMobileNavbar()"
                >Profile</a
              >
              <a class="dropdown-item" type="button" (click)="logout()"
                >Logout</a
              >
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
