.modal-content {
  /* padding-top: 30px; */
  border: none;
  border-radius: 0.5rem;
}
.modal-header {
  border-bottom: none;
}
.modal-body .form-label {
  font-weight: 500;
}
.btn-dark {
  background-color: #000;
  color: #fff;
}
.btn-dark:hover {
  background-color: #333;
}
.input-group .btn-outline-secondary {
  border-left: none;
}
.text-danger {
  font-size: 0.875rem;
}
