<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Welcome Back</h5>
    </div>
    <div class="modal-body">
      <p>Sign in to your account</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Enter your email"
            [class.is-invalid]="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            <span *ngIf="loginForm.get('email')?.errors?.['required']"
              >Email is required</span
            >
            <span *ngIf="loginForm.get('email')?.errors?.['email']"
              >Please enter a valid email</span
            >
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter your password"
              [class.is-invalid]="
                loginForm.get('password')?.invalid &&
                loginForm.get('password')?.touched
              "
            />
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="togglePassword"
            >
              <i class="bi bi-eye"></i>
            </button>
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
          >
            Password is required
          </div>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button
          type="submit"
          class="btn btn-dark w-100 mb-2"
          [disabled]="isLoading"
        >
          <span *ngIf="isLoading">Signing In...</span>
          <span *ngIf="!isLoading">Sign In</span>
        </button>
        <a href="#" class="text-danger p">Forgot password?</a>
        <a href="#" class="text-danger">Forgot password?</a>
      </form>
    </div>
    <div class="modal-footer">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['/signup']"
        data-bs-dismiss="modal"
        >Sign Up</a
      >
    </div>
  </div>
</div>
